body{
align:left;
margin-left:120px;
width:1000px;
position: relative;
}
textarea{
padding:20px 20px;
font-size:18px;
color:#505050;
width:960px;
background-color:#f0f0f0;
border-style:solid;

border-width:4px;
boder-color:#dbffff;
}
.logo img{
width:400px;

height:100px;
}
img{

width:300px;

height:100px;

}
.xiaoguo{

border-style:dotted;

background-color:#dbffff;
width:920px;
font-size:18px;
color:#505050;
padding:20px 40px;
}

.xiaoguo img{
width:400px;

height:300px;

}

p
{
   
 text-indent: 2em;

}


h4{
text-indent: 2em;

}
.hr-line
{
    
background-color: black;
    
border: 0px;
    
height: 1px;

}
.hr-example{
background-color: #505050;    
border: 0px;
    
height: 1px;

width:600px;
align:left;
}
.screader_result{
text-decoration:underline;
color:#505050;
}
dt{
font-weight:bold;
}
.footer{
text-align:center;
}
.footer img{
width:400px;

height:100px;


}